include ../shared/head.pug
body
    include ../shared/navigation.pug
    main
       form(action="/admin/add-product", method="POST") 
            div
                label(for="title") Title
                input(type="text", name="title", id="title")
                label(for="price") Price
                input(type="number", name="price", id="price")
                textarea#description(name="description", cols="30", rows="10" placeholder="Write description...")

            button(type="submit") Add Product
