header 
    nav
        ul
            li
                a(href="/admin/add-product") ADMIN
            li
                a(href="/admin/products-list") PRODUCT LIST
            li
                a(href="/admin/edit-product") EDIT PRODUCT
            li
                a(href="/store") STORE
            li
                a(href="/store/products-list") STORE PRODUCT LIST
            li
                a(href="/store/product-detail") PRODUCT DETAIL