header 
    nav
        ul
            li
                a(href="/admin/edit-product") ADMIN
            li
                a(href="/admin/products-list") ADMIN PRODUCT LIST
            li
                a(href="/") STORE
            li
                a(href="/products-list") STORE PRODUCT LIST