
include ../shared/head.pug
body
    include ../shared/navigation.pug
    main
        if products.length > 0
            ul
                each product in products
                    li #{product.title}


        
