include ../shared/head.pug
body
    include ../shared/navigation.pug
    main
        if products.length > 0
            each product in products
                div
                    h3 #{product.title}
                    a(href="/products-list/" + product._id) Details
                    p #{product.price}